<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ topicName | titlecase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let value of topic | async | keyvalue" [routerLink]="['/tv/', value.key]">
      <ion-icon [name]="topicName" slot="start"></ion-icon>
      <ion-label>{{ value.key | titlecase }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>