<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Página Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-list>
    <ion-item button *ngFor="let topic of (topics | async)" [routerLink]="['/topic', topic.id]">
      {{ topic.id | titlecase }}
    </ion-item>
  </ion-list> -->

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let topic of (topics | async); let card of cardProperties">
        <ion-card [routerLink]="[pages[topic.id].url, topic.id]">
          <img [src]="cardProperties[card.id].img" alt="">
          <ion-card-header>
            <ion-card-title>
              <ion-icon [name]="cardProperties[card.id].icon"></ion-icon>
            </ion-card-title>
            <ion-card-title>{{ topic.id | titlecase }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
